name: Create Release
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
      
      - name: Get JSON Property
        uses: notiz-dev/github-action-json-property@release
        with: 
          path: 'manifest.json'
          prop_path: 'version'
        id: version
      - name: Github Tag Bump
        id: tag
        uses: anothrNick/github-tag-action@1.75.0
        env:
          CUSTOM_TAG: ${{ steps.version.outputs.prop }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        id: release
        uses: ncipollo/release-action@v1.20.0
        with:
          makeLatest: true
          tag: ${{ steps.tag.outputs.new_tag }}

      # - name: Upload to Chrome Web Store
      #   uses: mobilefirstllc/cws-publish@latest
      #   with:
      #     action: 'publish'  # one of: upload, publish, testers
      #     client_id: ${{ secrets.CLIENT }}
      #     client_secret: ${{ secrets.SECRET }}
      #     refresh_token: ${{ secrets.TOKEN }}
      #     extension_id: '32-CHAR EXTENSION ID' 
      #     zip_file: 'ZIP FILE PATH'